.search-btn {
    position: absolute;
    right: 0px;
    margin: 5px;
    padding: 3px 20px;
    font-size: 14px;
    background-color: #ff985c;
    border: none;
}
.search-icon {
    position: absolute;
    left: 10px;
}
.login-btn{
    padding: 0px 30px;
    margin-left: 30px;
    background-color: #ff985c;
    border: none;
}
.navbar{
    background-color: #feefd8;
}
@media only screen and (max-width: 768px){
    .search-icon {
        left: 5px;
    }

}